.toggle_field {
  min-height: 0;
  margin-bottom: 16px;
  padding: 0 16px;
  box-sizing: border-box;
}

.toggle_field .item-inner {
  border-width: 1px !important;
}

.toggle_field__message {
  font-size: 1em;
  margin-bottom: 16px;
  min-height: 0px;
}

.toggle_field__message ion-label {
  margin: 0px;
}
